@model List<Test>

<table class="table table-sm table-bordered table-hover">

    <tr>
        <th style="background-color:aliceblue">Id</th>
        <th style="background-color:aliceblue">Name</th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        if (Model[i].WillPublished == 0)
        {
            <tr style="background-color:#a92020">
                <td>@Model[i].TestId</td>
                <td>@Model[i].Name</td>

                <td>
                    <a asp-action="TestDetail" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].TestId"
                       class="btn btn-warning btn-sm">İncele</a>

                    <a asp-action="YayinlaTest" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].TestId"
                       class="btn btn-warning btn-sm">Ekle</a>

                    <a asp-action="SilTest" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].TestId"
                       class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
        else if (Model[i].WillPublished == 1)
        {
            <tr>
                <td>@Model[i].TestId</td>
                <td>@Model[i].Name</td>

                <td>
                    <a asp-action="TestDetail" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].TestId"
                       class="btn btn-warning btn-sm">İncele</a>

                    <a asp-action="KaldirTest" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].TestId"
                       class="btn btn-warning btn-sm">Kaldır</a>

                    <a asp-action="SilTest" asp-controller="Admin" asp-area="Admin" asp-route-id="@Model[i].TestId"
                       class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    }


</table>
